



/* RESET*/




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************/
/**GENERAL**/
/**********/

/* PALETTE DE COULEURS/
		couleur texte : body #D5D4D4
		couleur fond : rgb(20,65,82)
		tableau : #253947
		liens : #75a4a9
	*/

	/* FONTS 
		body :"Helvetica Neue",Helvetica,Arial,sans-serif;
		h2 : oswald, times;
		*/

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #D5D4D4;
	background-color: black;
} 

@font-face {
	font-family: Oswald;
	src: url(../font/Oswald-Regular.ttf);
}
@font-face {
	font-family: HarryP;
	src: url(../font/HARRYP_.ttf);
}




/**********/
/**HEADER**/
/*********/


.wiki_inpres {
	display: inline;
}

header {
	background-color: #457175;
	margin: 0 auto;
	max-width: 1000px;
	min-height: 115px;
	padding: 0px 28px;
}

header img {
	float: left;
	margin: 1.666em 0em 0em 1.666em;
}
header h2 {
	font-size: 2em;
	float: left;
	margin: 1.5em 0em 0em 1.666em;
}
header a {
	color: white;
}
header li {
	display: inline-block;
	font-variant: small-caps;
	margin: 0.916em;
	font-weight: bold;
}
header p, {
	display: inline;
}
header p {
	font-weight: bold;
	display: inline;
}
header h1 {
	font-size: 1.71em;
	margin: 0.833em 0em 0em 0.75em;
}
nav {
	clear: left;
	display: inline;
}
nav h2 {
	text-indent: -9999px;
	visibility: hidden;
	display: none;
}
ul {
	margin-bottom: 0em;
}
.ajout_page {
	font-size: 0.85em;
	padding: 0.58em 1em;
	border: 1px solid white;
	font-variant: small-caps;
	font-weight: bold;
	margin: 1.6em 1.25em;
}

.inpres {
	background-color: #002a32;
	color: white;
	min-height: 55px;

}
.inpres li, .inpres h1 {
	display: inline;
	font-family: Rubik;
	font-variant: small-caps;
}
.inpres li {
	font-size: 1.14em;
	margin-left: 1.5em;
}
.inpres a {
	color: #00d6d6;
	font-size: 1.12em;
}
.inpres input, .inpres p, .inpres ul {
	display: inline;
}
.inpres ul {
	font-size: 1.14em
}
.inpres a:hover {
	color: white;
	text-decoration: none;
}
.search {
	width: 20px;
	float: right;
}
.search .on {
	width: 200px;
	transition: 1s;
}

/*MAIN SECTION*/

h1 {
	font-size: 2.5em;
	padding: 1.333em 0em 1em 0em;
	margin: 0em;
}
li {
	list-style-type: square;
	margin: 0.25em 0em 0.25em 0em;
}

.modifier {

	background-color: #457175;
	padding: 0.58em 1em;
	font-size: 0.85em;
	border: 1px solid;
	font-variant: small-caps;
	color: white;
	font-weight: bold;
	height: 34px;
}
.modif {
	height: 34px;
    width: 50px;
    background-color: #457175;
    border: none;
    margin-left: 0.2em;
}
.partager {
	font-size: 0.85em;
	padding: 0.58em 1.5em;
	border: 1px solid white;
	font-variant: small-caps;
	color: white;
}

main {
	background-color: rgb(20,65,82);
	max-width: 1000px;
	padding: 0em 2em 1em;
	margin: 0 auto;
	overflow: hidden;
	color: #D5D4D4;
}

p {
	margin: 0em 0em 0.583em 0em;
}
 main p:first-of-type {
	margin-top: 1em;
 }


div h2 {
	font-family: Oswald, Times;
	border-bottom: solid 2px white;
	font-size: 1.7em;
	padding:0.416em;
	margin: 1.166em 0em 0.416em 0em;
}



@media screen and (max-device-width: 400px) {
	
	main p:first-child {
		display: none;
	}
	main {
		
		width: 100%;
	}
	aside {
	
		float: none;
	}

} 

a {
	color: #75a4a9;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*MAIN ASIDE*/

.a_propos {
	background-color: black;
	width: 290px;
	margin-top: 7.5em;
	float: right;
}
.a_propos img {
	width: 100%;
	height: auto;
}
.a_propos h2 {
	background-color: black;
	font-size: 1.28em;
	padding: 0.27em;
	text-align: center;
}
h3 {
	background-color: #131F26;
	padding: 0.41em;
	margin: 0px;
	border-bottom: 2px solid #999;
	padding: 0.85em;
}
.a_propos dl div {
	background-color: #253947;
	border-bottom: 2px solid #999;
	padding: 0.41em;
	font-size: 0.85em;
}
dl {
	margin: 0;
}
dd, dt {
	display: inline-block;
}
dt {
	font-weight: bold;
	width: 100px;
}
